altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bottle==0.13.4
cffi==2.0.0
click==8.3.3
clr_loader==0.2.10
colorama==0.4.6
et_xmlfile==2.0.0
fastapi==0.136.1
h11==0.16.0
httptools==0.7.1
idna==3.15
iniconfig==2.3.0
jamo==0.4.1
kiwipiepy==0.23.1
kiwipiepy_model==0.23.0
maturin==1.13.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pefile==2024.8.26
pillow==12.2.0
pluggy==1.6.0
proxy_tools==0.1.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pythonnet==3.0.5
pywebview==6.1
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.14.5
setuptools==82.0.1
six==1.17.0
starlette==1.0.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.46.0
watchfiles==1.1.1
websockets==16.0
win32_setctime==1.2.0
